// vendor
@import "./../../vendor/eric-mayer-reset-less-sass/reset";

// ambience
@import "develop/scss/ambience/variables";
@import "develop/scss/ambience/colors";
@import "develop/scss/ambience/typography";
@import "develop/scss/ambience/icons";
@import "develop/scss/ambience/mixins";
@import "develop/scss/ambience/extends";
@import "develop/scss/ambience/animations";

// base
@import "develop/scss/base/structure";
@import "develop/scss/base/unclassed";

// components
@import "develop/scss/components/main-navigation";
@import "develop/scss/components/main-header";
@import "develop/scss/components/app-shortcuts";
@import "develop/scss/components/main-content";
