aside.app-shortcuts {
  @extend .centered;
  height: $top-height;
  margin: 0 1rem;

  &.mobile {
    @include for-tablet-portrait-up {
      display: none;
    }
  }
  &.desktop {
    display: none;

    @include for-tablet-portrait-up {
      display: flex;
      margin-left: auto;
    }
    @include for-tablet-landscape-up {
      margin-left: 0;
    }
  }
  ul {
    display: flex;

    li {
      &.divisor {
        @include for-tablet-landscape-up {
          border-left: 1px solid #333;
        }
      }
      a {
        @extend .centered;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 .5rem;

        &.instagram {
          @include icon($icon-instagram, 1.2);
        }
        &.facebook {
          @include icon($icon-facebook, 1.2);
        }
        &.waze,
        &.map {
          @include for-tablet-portrait-up {
            display: none;
          }
        }
        &.waze {
          @include icon($icon-waze, 1.2);
        }
        &.map {
          @include icon($icon-map, 1.2);
        }
      }
    }
  }
}
