div.app-shortcuts {
  @extend .centered;
  height: $top-height;
  border-bottom: 1px solid black;
  margin: 0 1rem;

  &.mobile {
    @include for-tablet-portrait-up {
      display: none;
    }
  }
  &.desktop {
    display: none;

    @include for-tablet-portrait-up {
      display: flex;
      border-bottom: none;
      margin-left: auto;
    }
  }
  > aside {
    ul {
      display: flex;

      li {
        a {
          @extend .centered;
          width: 2.5rem;
          height: 2.5rem;
          margin: 0 .5rem;

          &.instagram {
            @include icon($icon-instagram, 1.2);
          }
          &.facebook {
            @include icon($icon-facebook, 1.2);
          }
          &.waze {
            @include icon($icon-waze, 1.2);

            @include for-tablet-portrait-up {
              display: none;
            }
          }
          &.map {
            @include icon($icon-map, 1.2);
          }
        }
      }
    }
  }
  > nav {
    > a {
      @extend .centered;
      @include icon($icon-clock, 1.4);
      color: $color-herbalife;
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 .5rem;
    }
  }
}
