div.main-banner {
  @include for-tablet-portrait-up {
    margin-top: $top-height;
  }

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  > .slick-arrow {
    @include alignY;
    position: absolute;
    z-index: 10;
    border-style: none;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
    padding: 2rem;
    opacity: 0;
    visibility: hidden;

    @include for-tablet-landscape-up {
      opacity: .3;
      visibility: visible;
    }

    &.slick-prev {
      &::before {
        content: "";
        font-size: 2rem;
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid white;
      }
      left: 0;
    }
    &.slick-next {
      &::before {
        content: "";
        font-size: 2rem;
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid white;
      }
      right: 0;
    }
  }
  > .slick-list {
    > .slick-track {
      > .slick-slide {
        @include box-sizing;
        margin: 1rem .5rem;
        padding: .5rem;
        border: 1px solid #c8c8c8;
        border-radius: .3rem;

        img {
          width: 100%;
        }
      }
    }
  }
  > .slick-dots {
    @include alignX;
    position: absolute;
    bottom: 0;
    display: flex;

    > li {
      &.slick-active {
      }
      > button {

      }
    }
  }
}
