header.main-header {
  display: flex;
  align-items: center;
  height: $top-height;
  background-color: black;
  color: white;
  position: relative;

  @include for-tablet-portrait-up {
    display: none;
  }

  > a:first-child {
    padding: .5rem 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select:none;

    > span:first-child {
      @include icon($icon-logo, 2);
    }
    > span {
      letter-spacing: 1px;
    }
  }
  > a.btnMenu {
    @extend .alignY;
    @include icon($icon-menu-down, 2);
    position: absolute;
    right: 1rem;
    z-index: 1;
    color: white;

    &.opened {
      @include icon($icon-menu-up, 2);
      color: black;
    }
  }
}
