nav.main-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  height: $top-height;
  background-color: white;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  will-change: auto;
  transform: translateY(-$top-height);
  transition: .2s;

  @include for-tablet-portrait-up {
    right: 0;
    transform: translateY(0);
    background-color: black;
    color: white;
  }

  &.active {
    transform: translateY(0);
  }
  > a {
    display: none;
    align-items: center;
    padding: .5rem 0 .5rem 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select:none;

    @include for-tablet-portrait-up {
      display: flex;
    }

    > span {
      letter-spacing: 1px;
    }
    > span:first-child {
      @include icon($icon-logo, 2);
    }
    > span:last-child {
      display: none;

      @include for-tablet-landscape-up {
        display: block;
        margin-left: .5rem;
      }
    }
  }
  > ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: .5rem;

    @include for-tablet-landscape-up {
      margin-left: auto;
    }

    > li {
      height: inherit;

      a {
        @include box-sizing;
        @extend .centered;
        font-size: $font-size-small;
        padding: .5rem;
        height: inherit;

        @include for-tablet-portrait-up {
          font-size: $font-size-default;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
